
<h1>Digital currency
</h1>

<p>

  A cryptocurrency is a digital or virtual currency that uses cryptography for security. A cryptocurrency is difficult
  to counterfeit because of this security feature. Many cryptocurrencies are decentralized systems based on blockchain
  technology, a distributed ledger enforced by a disparate network of computers. A defining feature of a
  cryptocurrency, and arguably its biggest allure, is its organic nature; it is not issued by any central authority,
  rendering it theoretically immune to government interference or manipulation.

  The first blockchain-based cryptocurrency was Bitcoin, which still remains the most popular and most valuable.


</p>

<p>

  Digital currency is a money balance recorded electronically on a stored-value card or other devices. Another form of
  electronic money is network money, allowing the transfer of value on computer networks, particularly the Internet.
  Electronic money is also a claim on a private bank or other financial institution such as bank deposits.[4]

  Digital money can either be centralized, where there is a central point of control over the money supply, or
  decentralized, where the control over the money supply can come from various sources.</p>


<h2>History</h2>

<p>History
  In 1983, a research paper by David Chaum introduced the idea of digital cash.In 1990, he founded DigiCash, an
  electronic cash company, in Amsterdam to commercialize the ideas in his research.It filed for bankruptcy in
  1998.In 1999, Chaum left the company.

  In 1997, Coca-Cola offered buying from vending machines using mobile payments.After that PayPal emerged in
  1998.Other systems followed suit, such as e-gold, but it faced issues because it was used by criminals and was
  closed by U.S Department of Justice in 2005.In 2008, bitcoin was introduced, which marked the start of
  digital currencies.

  Origins of digital currencies date back to the 1990s Dot-com bubble. One of the first was E-gold, founded in 1996 and
  backed by gold. Another known digital currency service was Liberty Reserve, founded in 2006; it lets users convert
  dollars or euros to Liberty Reserve Dollars or Euros, and exchange them freely with one another at a 1% fee. Both
  services were centralized, reputed to be used for money laundering, and inevitably shut down by the U.S.
  government.Q coins or QQ coins, were used as a type of commodity-based digital currency on Tencent QQ's
  messaging platform and emerged in early 2005. Q coins were so effective in China that they were said to have had a
  destabilizing effect on the Chinese Yuan currency due to speculation.Recent interest in cryptocurrencies has
  prompted renewed interest in digital currencies, with bitcoin, introduced in 2008, becoming the most widely used and
  accepted digital currency.</p>
