/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
:root {
  --my-primary: #222831;
  --my-grey: #393e46;
  --my-blue: #b50009;
  --my-white: #eeeeee;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: var(--my-primary);
  background-color: var(--my-white);
  font-family: 'Noto Sans', sans-serif;
}
.bg-primary-color {
  background-color: var(--my-blue);
}
.custom-toggler.navbar-toggler {
  border-color: rgb(34, 40, 49);
}

